* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    letter-spacing: -0.02em;
}

a {
    font-size: 18px;
    line-height: 20px;
    color: #8492a6;
    text-decoration: none;
}

ul {
    list-style-type: none;
}
.tap-menu {
    border-bottom: 2px solid #e5eaef;
}
.tap-menu-item {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    padding: 0;
    float: left;
    margin-right: 16px;
    justify-content: flex-start;
    align-items: center;
}
.tap-menu-item a {
    display: block;
    padding: 16px 20px;
}
.tap-menu-item.selected a {
    color: #2266ff;
    font-weight: 500;
    border-bottom: 2px solid blue;
}
