* {
    box-sizing: border-box;
    background-color: #000;
    font-family: sans-serif;
    letter-spacing: -0.02em;
}

.ani-button {
    position: relative;
    top: 40vh;
    left: 50vw;
    font-size: 24px;
    border: yellow;
    border-style: solid 2px;
    background-color: #fff;
    height: 50px;
    width: 120px;
    padding: 10px 10px;
    border-radius: 3px;
}

.ani-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #44f;
    transition: 250ms;
    border-radius: 3px;
}

.ani-button:hover::after {
    width: 100%;
}
