* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: sans-serif;
    color: #212448;
}
span {
    display: inline-block;
    color: #fff;
    padding-left: 29px;
    padding-right: 39px;
    padding-top: 19px;
    background-color: #0066ff;
    
}