* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.parent {
    background-color: azure;
}
.child,
.other {
    height: 50px;
    color: bisque;
    line-height: 50px;
    text-indent: 20px;
}

.child {
    background-color: brown;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.other {
    background-color: red;
    width: 100px;
}