* {
    box-sizing: border-box;
    margin: 0;
    font-size: 26px;
    font-family: sans-serif;
}
.Padding {
    display: block;
    height: 160px;
}
.Shadow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ShadowButton {
    display: block;
    width: 250px;
    height: 125px;
    border-radius: 35px;
    border: 0;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
}

.ShadowButton:hover {
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 25px 25px 50px #898989, -25px -25px 50px #ffffff;
    transition: ease-in;
    transition: 500ms;
}
